<div class="container">
  <div class="gray-square">
    <app-laser-cannon></app-laser-cannon>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
    <app-turret></app-turret>
  </div>
</div>

