<div class="tie-fighter-container">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
  <img class="tie-fighter" src="assets/images/tie-fighter.png">
</div>

